@charset "utf-8";
/*
* reset css
*/
body, ul, li, p, form, h1, h2, h3 {
	margin: 0;
	padding: 0;
}
img {
	border: none;
	max-width: 100%;
}
ul, li {
	list-style-type: none;
}
a:link, a:visited {
	text-decoration: none;
	cloor: #666;
}
a:hover, a:active {
	color:#61c4ff;
}
body {
	font-family: "微软雅黑";
	word-wrap: break-word;
}